$primary-color: #fdd000;
$secondary-color: #1c1c1b;
$font-family: "Noto Sans KR", "Nanum Gothic", "Roboto", sans-serif;
$font-style-normal: normal;
$font-style-italic: italic;
$nanum-gothic-regular: 400;
$nanum-gothic-bold: 700;
$nanum-gothic-extrabold: 800;
$noto-sans-kr-regular: 600;
$noto-sans-kr-sizing: auto; // font-optical-sizing: auto;
$roboto-thin: 100;
$roboto-light: 300;
$roboto-regular: 400;
$roboto-medium: 500;
$roboto-bold: 700;
$roboto-black: 900;
$roboto-thin-italic: 100;
$roboto-light-italic: 300;
$roboto-regular-italic: 400;
$roboto-medium-italic: 500;
$roboto-bold-italic: 700;
$roboto-black-italic: 900;

$color1: lightyellow;
$color2: yellow;
$color3: gold;
$color4: orange;
$color5: darkred;
